body {
    background-color: #41b3a3;
}

.jumbotron {
    background-color: #e8a87c;
}

.container-fluid {
    background-color: #e27d60;
    padding: 40px;
}

.card {
    background-color: #c38d9e;
}